@model AddCategoryViewModel

@{
    ViewData["Title"] = "New category";
}

<div class="card border-light">
    <div class="row g-0">
        <div class="col-12">
            <div class="card-body">
                <h1 class="card-title h2">@ViewData["Title"]</h1>
                <form method="post" asp-controller="Admin" asp-action="AddCategory">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="Name" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Photo" class="form-label">Photo</label>
                        <input type="text" class="form-control" name="Photo" asp-for="Photo">
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
