@model asp_net_shop.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<form method="post" asp-controller="Account" asp-action="Logout">
    <button type="submit" class="btn btn-danger">
        <i class="bi bi-box-arrow-left"></i> Logout
    </button>
</form>