@model IEnumerable<Product>

<h1 class="mb-4">Cart</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var product in Model)
    {
        await Html.RenderPartialAsync("_Product", product);
    }
</div> 